body{
    background: url('../img/dashboard/bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}
nav{
    padding-top: 15px;
    margin-bottom: 35px;
    height: 90px;
}
.logo{
    margin-bottom: 25px;
}
.code{
    background: url('../img/dashboard/codebg.svg');
    background-size: 100%;
    padding:0 !important;
    margin:auto;

}
.code img{
    width: 86%;
    margin: 7%;
}
.button{
    width: 100%;
    height: auto !important;
    background: rgba(0,0,0,0.0) !important;
    box-shadow: none !important;
}
.button img{
    width: 100%;
}
.brand-logo{
    color: #f5cc00 !important;
    font-size: 25px !important;
}
nav{
    background: rgba(0,0,0,0.5) !important;	
}
.logo img{
    width: 100%
}
.time{
    padding: 0 35px !important;
}
#time{
    font-size: 18px;
    padding: 0 5px !important;
}
* {
    /*CSS transitions*/
    -o-transition-property: none !important;

    -moz-transition-property: none !important;

    -ms-transition-property: none !important;

    -webkit-transition-property: none !important;

    transition-property: none !important;
    /*CSS transforms*/

    -o-transform: none !important;

    -moz-transform: none !important;

    -ms-transform: none !important;

    -webkit-transform: none !important;

    transform: none !important;

    /*CSS animations*/

    -webkit-animation: none !important;

    -moz-animation: none !important;

    -o-animation: none !important;

    -ms-animation: none !important;

    animation: none !important;
 }

 .noMarginBottom {
     margin-bottom: 0px;
 }


 #timerToChange {
     width: 100%;
     color: white;
     font-size: 20px;
     /* text-align: center; */
 }
