{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}Dashboard | Green Mentor {% endblock %}
        </title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{% static 'css/dashboard/bootstrap.min.css' %}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{% static 'css/dashboard/font-awesome.min.css' %}"> <!-- Ionicons --> <link rel="stylesheet" href="{% static 'css/dashboard/ionicons.min.css' %}">
        <!-- jvectormap -->
        <link rel="stylesheet" href="{% static 'css/dashboard/jquery-jvectormap.css' %}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{% static 'css/dashboard/AdminLTE.min.css' %}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
            folder instead of downloading all of them to reduce the load. -->
            <link rel="stylesheet" href="{% static 'css/dashboard/_all-skins.min.css' %}">

            <!-- Datatables -->
            <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>

            <!-- Multi Select -->
            <link rel="stylesheet" type="text/css" href="{% static 'css/multiselect.css' %}"/>

            <!-- Toastr -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" type="text/css" media="screen" title="no title" charset="utf-8">

            <!-- bootstrap-datetimepicker -->
            <link href="/static/css/datetimepicker.min.css" rel="stylesheet">

            <!-- Bootstrap Toggle -->
            <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->

            <!-- Google Font -->
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

            <!-- CropperJs -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.2.2/cropper.min.css" type="text/css" media="screen" title="no title" charset="utf-8">

            <!-- Select2 -->
            <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}"/>

    </head>
    <body class="hold-transition skin-green sidebar-mini">
        <div class="wrapper">

            <header class="main-header">

                <!-- Logo -->
                <a href="/dashboard/" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>GM</b></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Green Mentor</b></span>
                </a>

                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{% static 'img/dashboard/logo.png' %}" class="user-image" alt="User Image">
                                    <span class="hidden-xs">Administrator</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="{% static 'img/dashboard/logo.png' %}" class="img-circle" alt="User Image">

                                        <p>
                                        Administrator
                                        <small>Green Mentor</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <!-- <li class="user-body"> -->
                                    <!--   <div class="row"> -->
                                    <!--     <div class="col-xs-4 text-center"> -->
                                    <!--       <a href="#">Followers</a> -->
                                    <!--     </div> -->
                                    <!--     <div class="col-xs-4 text-center"> -->
                                    <!--       <a href="#">Sales</a> -->
                                    <!--     </div> -->
                                    <!--     <div class="col-xs-4 text-center"> -->
                                    <!--       <a href="#">Friends</a> -->
                                    <!--     </div> -->
                                    <!--   </div> -->
                                    <!--   <1!-- /.row --1> -->
                                    <!-- </li> -->
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Settings</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="/dashboard/logout/" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <!-- <li> -->
                            <!-- <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a> -->
                            <!-- <a href="#"><i class="fa fa-gears"></i></a> -->
                            <!-- </li> -->
                        </ul>
                    </div>

                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="{% static 'img/dashboard/logo.png' %}" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>Administrator</p>
                            <p>Green Mentor</p>
                            <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
                        </div>
                    </div>
                    <!-- <1!-- search form --1> -->
                    <!-- <form action="#" method="get" class="sidebar-form"> -->
                    <!--   <div class="input-group"> -->
                    <!--     <input type="text" name="q" class="form-control" placeholder="Search..."> -->
                    <!--     <span class="input-group-btn"> -->
                    <!--           <button type="submit" name="search" id="search-btn" class="btn btn-flat"> -->
                    <!--             <i class="fa fa-search"></i> -->
                    <!--           </button> -->
                    <!--         </span> -->
                    <!--   </div> -->
                    <!-- </form> -->
                    <!-- <1!-- /.search form --1> -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">MAIN NAVIGATION</li>
                        <li><a href=""><i class="fa fa-home"></i> <span>Dashboard</span></a></li>

                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                {% block content %}
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                        <!-- <small>Version 2.0</small> -->
                    </h1>
                    <!-- <ol class="breadcrumb"> -->
                    <!--   <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li> -->
                    <!--   <li class="active">Dashboard</li> -->
                    <!-- </ol> -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- Info boxes -->
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Main Content Goes Here</h4>
                        </div>
                    </div>
                    <!-- /.row -->

                </section>
                <!-- /.content -->
                {% endblock %}

        {% block footerScripts %}
        {% endblock %}
            </div>
            <!-- /.content-wrapper -->

            <footer class="main-footer">
                <strong>Copyright &copy; 2017 </strong> All rights reserved.
            </footer>


        </div>
        <!-- ./wrapper -->

        <!-- jQuery 3 -->
        <script src="{% static 'js/dashboard/jquery.min.js' %}"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{% static 'js/dashboard/bootstrap.min.js' %}"></script>
        <!-- FastClick -->
        <script src="{% static 'js/dashboard/fastclick.js' %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static 'js/dashboard/adminlte.min.js' %}"></script>
        <!-- Sparkline -->
        <script src="{% static 'js/dashboard/jquery.sparkline.min.js' %}"></script>
        <!-- jvectormap  -->
        <script src="{% static 'js/dashboard/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script src="{% static 'js/dashboard/jquery-jvectormap-world-mill-en.js' %}"></script>
        <!-- SlimScroll -->
        <script src="{% static 'js/dashboard/jquery.slimscroll.min.js' %}"></script>
        <!-- ChartJS -->
        <script src="{% static 'js/dashboard/Chart.js' %}"></script>
        <!-- Datatables -->
        <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
        <!-- Multi Select -->
        <script type="text/javascript" src="{% static 'js/multiselect.js' %}"></script>
        <!-- Toastr -->
        <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <!-- Filestyle -->
        <script type="text/javascript" charset="utf-8" src="{% static 'js/bootstrap-filestyle.min.js' %}"></script>
        <!-- Bootstrap Toggle -->
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <!-- CropperJs -->
        <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.2.2/cropper.min.js"></script>
        <!-- Select2 -->
        <script type="text/javascript" charset="utf-8" src="{% static 'js/select2.min.js' %}"></script>
        <!-- Select-togglebutton -->
        <script type="text/javascript" charset="utf-8" src="{% static 'js/select-togglebutton.js' %}"></script>

        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <!-- <script src="{% static 'js/dashboard/dashboard2.js' %}"></script> -->
        <!-- AdminLTE for demo purposes -->
        <script src="{% static 'js/dashboard/demo.js' %}"></script>
        <!-- Custom Js -->
        <script src="{% static 'js/dashboard/custom.js' %}"></script>

        <!-- datetimepicker -->
        <script src="{% static 'js/moment/moment.min.js' %}"></script>
        <script src="{% static 'js/datetimepicker.min.js' %}"></script>

        <!-- jQuery contenteditable -->
        <script src="{% static 'js/jquery.editable.min.js' %}"></script>

        <!-- TinyMCE -->
        <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>


    </body>
</html>
