{% extends 'base.html' %}

{% block content %}
<style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        MAP
                        <!-- <small>Version 2.0</small> -->
                    </h1>
                    <!-- <ol class="breadcrumb"> -->
                    <!--   <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li> -->
                    <!--   <li class="active">Dashboard</li> -->
                    <!-- </ol> -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- Info boxes -->
                    <div class="row">


<br/>
   <div id="map"></div>

   <br/>

   <center><canvas id="speedChart" width="300" height="100"></canvas></center>

    <script>
      function initMap() {
        var uluru = {lat: 30.741482 , lng: 76.768066};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: uluru
        });
        var point;
        var myurl;

        {% for p in points %}
        {% if p.disease == 'common rust ' %}
          myurl ="http://www.myiconfinder.com/uploads/iconsets/256-256-a5485b563efc4511e0cd8bd04ad0fe9e.png";
        {% elif p.disease == 'cercospora leaf spot gray leaf spot ' %}
          myurl ="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/map-marker-icon.png";
        {% elif p.disease == 'bacterial spot ' %}
          myurl ="http://images.clipartpanda.com/google-location-icon-Location_marker_pin_map_gps.png";
        {% else %}
          myurl ="https://maps.google.com/mapfiles/kml/shapes/parking_lot_maps.png";
        {% endif %}
        var icon = {
          url: myurl, // url
          scaledSize: new google.maps.Size(50, 50), // scaled size
        }
        {% if p.disease != 'healthy ' %}
        point = { lat: {{ p.latitude}}, lng: {{p.longitude}} }; 
        var marker = new google.maps.Marker({
          position: point,
          map: map,
          scaledSize: new google.maps.Size(10, 10),
          icon: icon,
          title: "Disease {{p.disease}} detected\nuploaded by {{p.user}}\n"         
        });

        {% endif %}
        {% endfor %}
    
      }

    </script>

    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxFU5DSbqAFpK-OxNyvQuIe3bCOwaG00s&callback=initMap">
    </script>
                    </div>
                    <!-- /.row -->

                </section>
                <!-- /.content -->
{% endblock %}

{% block  footerScripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<section class="row">

<script>
var speedCanvas = document.getElementById("speedChart");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var dataFirst = {
    label: "Corn - Leaf Spot",
    data: [0, 59, 75, 20, 20, 55, 40],
    lineTension: 0.3,
    fill: false,
    borderColor: 'red',
    backgroundColor: 'transparent',
    pointBorderColor: 'red',
    pointBackgroundColor: 'red',
    pointRadius: 5,
    pointHoverRadius: 15,
    pointHitRadius: 30,
    pointBorderWidth: 2,
    pointStyle: 'circle'
  };

var dataSecond = {
    label: "Corn - Common Rust",
    data: [20, 15, 60, 10, 65, 30, 70],
    lineTension: 0.3,
    fill: false,
    borderColor: 'purple',
    backgroundColor: 'transparent',
    pointBorderColor: 'purple',
    pointBackgroundColor: 'purple',
    pointRadius: 5,
    pointHoverRadius: 15,
    pointHitRadius: 30,
    pointBorderWidth: 2
  };

var dataThird = {
    label: "Peach - Bacterial Spot",
    data: [20, 15, 60, 60, 65, 30, 70],
    lineTension: 0.3,
    fill: false,
    borderColor: 'green',
    backgroundColor: 'transparent',
    pointBorderColor: 'green',
    pointBackgroundColor: 'green',
    pointRadius: 5,
    pointHoverRadius: 15,
    pointHitRadius: 30,
    pointBorderWidth: 2
  };

var speedData = {
  labels: ["24-Nov-18", "25-Nov-18", "26-Nov-18", "27-Nov-18", "28-Nov-18", "29-Nov-18", "30-Nov-18"],
  datasets: [dataFirst, dataSecond, dataThird]
};

var chartOptions = {
  legend: {
    display: true,
    position: 'top',
    labels: {
      boxWidth: 10,
      fontSize: 14,
      usePointStyle: true,
      fontColor: 'black',
      fillStyle: 'black'
    }
  }
};

var lineChart = new Chart(speedCanvas, {
  type: 'line',
  data: speedData,
  options: chartOptions,
  

});
</script>
</section>
{% endblock %}

