  <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
        
  <div id="map"></div>


    <script>
      function initMap() {
        var uluru = {lat: 30.741482 , lng: 76.768066};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: uluru
        });
 
        var marker = new google.maps.Marker({
          position: { lat: 30.741482, lng: 76.768066 },
          map: map,
          title: "Oxytetracycline sold by Ramesh Pesticides Ltd.\n"
        });

        var marker = new google.maps.Marker({
          position: { lat: 30.721482, lng: 76.748066 },
          map: map,
          title: "Oxytetracycline sold by Dharmesh Sellers.\n"
        });
        var marker = new google.maps.Marker({
          position: { lat: 30.742482, lng: 76.778066 },
          map: map,
          title: "Oxytetracycline sold by Gyan Ganga and Co.\n"
        });
        var marker = new google.maps.Marker({
          position: { lat: 30.741482, lng: 76.728066 },
          map: map,
          title: "Oxytetracycline sold by Deluxe Sellers.\n"
        });
        var marker = new google.maps.Marker({
          position: { lat: 30.743482, lng: 76.738066 },
          map: map,
          title: "Oxytetracycline sold by Pecsti Store\n"
        });
      }

    </script>

    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxFU5DSbqAFpK-OxNyvQuIe3bCOwaG00s&callback=initMap">
    </script>